{{!< admin}}
{{#contentFor 'pageStyles'}}
<style type="text/css">
  
</style>
{{/contentFor}}
{{#contentFor 'pageScripts'}}
{{/contentFor}}

<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <div class="alert alert-success">
                    您的内容正在路上
                </div>
            </div>
            <div class="ibox-content">
                <div class="spiner-example">
                    <div class="sk-spinner sk-spinner-three-bounce">
                        <div class="sk-bounce1"></div>
                        <div class="sk-bounce2"></div>
                        <div class="sk-bounce3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>