<!DOCTYPE html>

<html xmlns:wb="http://open.weibo.com/wb">
<head>
    <meta charset="utf-8" />
    <title nb-bind='title'>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge, chrome=1"> 
    {{{css '_lib/bootstrap/bootstrap'}}} 
    {{{css '_lib/fontawesome/font-awesome'}}} 
    {{{css 'inspinia/style'}}} 
    {{{block 'pageStyles'}}}
    {{{js '_lib/underscore/underscore'}}}
    {{{js '_lib/moment/moment'}}} 
    {{{js '_lib/vue/vue'}}}
</head>

<body class="top-navigation">
    <div id="wrapper">
        <div id="page-wrapper" class="gray-bg">
            <div class="row border-bottom white-bg">
                {{> layout}}
            </div>
            <div class="wrapper wrapper-content">
                {{{body}}}
            </div>
            <div class="footer">
                <div class="pull-right">
                    10GB of
                    <strong>250GB</strong> Free.
                </div>
                <div>
                    <strong>Copyright</strong> Example Company &copy; 2014-2017
                </div>
            </div>
        </div>
    </div>
    {{{js '_lib/jquery/jquery-2.1.1'}}} 
    {{{js '_lib/bootstrap/bootstrap'}}}
    {{{js '_lib/metisMenu/jquery.metisMenu.js'}}} 
    {{{js '_lib/slimscroll/jquery.slimscroll.js'}}} 
    {{{js '_lib/pace/pace.min.js'}}} 
    {{{js 'inspinia'}}} 
    {{{block 'pageScripts'}}}

</body>

</html>