<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge, chrome=1"> 
    {{{css '_lib/bootstrap/bootstrap'}}} 
    {{{css '_lib/fontawesome/font-awesome'}}} 
    {{{css 'animate'}}}
    {{{css 'inspinia/style'}}} 
    {{{block 'styles'}}}
</head>

<body>
    {{{body}}}

    {{{js '_lib/jquery/jquery-2.1.1'}}} 
    {{{js '_lib/bootstrap/bootstrap'}}} 
    {{{js '_lib/metisMenu/jquery.metisMenu.js'}}}
    {{{block 'scripts'}}}
</body>

</html>