<nav class="navbar navbar-static-top" role="navigation">
    <div class="navbar-header">
        <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed"
            type="button">
            <i class="fa fa-reorder"></i>
        </button>
        <a href="#" class="navbar-brand">聚缘阁</a>
    </div>
    <div class="navbar-collapse collapse" id="navbar">
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> 我的模块
                    <span class="caret"></span>
                </a>
                <ul role="menu" class="dropdown-menu">
                    <li>
                        <a href="/">页面 1</a>
                    </li>
                    <li>
                        <a href="/">页面 2</a>
                    </li>
                    <li>
                        <a href="/">页面 3</a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-top-links navbar-right">
            {{#if username}}
                <li>
                    <a href="/user/api/signout">退出</a>
                </li>
            {{else}}
                <li>
                    <a href="/user/signin">登录</a>
                </li>
                <li>
                    <a href="/user/signup">注册</a>
                </li>
            {{/if}}
        </ul>
    </div>
</nav>