{{!< empty}}
{{#content 'pageStyles'}}
{{{css '_lib/bootstrap/bootstrap'}}} 
{{{css '_lib/fontawesome/font-awesome'}}} 
{{{css 'animate'}}}
{{{css 'inspinia/style'}}} 
<style type="text/css">
   [v-cloak] {
        display: none; 
    }
</style>
{{/content}}
{{#content 'pageScripts'}}
{{{js '_lib/jquery/jquery-2.1.1'}}} 
{{{js '_lib/bootstrap/bootstrap'}}} 
{{{js '_lib/metisMenu/jquery.metisMenu.js'}}}
{{{js  '_lib/vue/vue'}}}
{{{js 'user/signup'}}}
{{/content}}

<body class="gray-bg">
    <div class="middle-box text-center loginscreen   animated fadeInDown"  id="app"   v-cloak>
        <div>
            <h3>注册</h3>
            <form class="m-t" role="form" action="login.html">
                <div class="form-group">
                    <input type="text" v-model.trim="user._id" class="form-control" placeholder="用户名" required="">
                </div>
                <div class="form-group">
                    <input type="password" v-model.trim="user.password" class="form-control" placeholder="密码" required="">
                </div>
                <div class="form-group">
                        <div class="checkbox i-checks"><label> <input v-model="policy" type="checkbox"><i></i> 同意政策和条例 </label></div>
                </div>
                <button type="button" @click="commit" class="btn btn-primary block full-width m-b">注册</button>

                <p class="text-muted text-center"><small>已有账号?</small></p>
                <a class="btn btn-sm btn-white btn-block" href="/user/signin">登录</a>
            </form>
        </div>
    </div>
</body>