{{!< blank}}
{{#contentFor 'pageStyles'}}
<style type="text/css">
  
</style>
{{/contentFor}}
{{#contentFor 'pageScripts'}}
{{{js  '_lib/vue/vue'}}}
{{{js 'user/signup'}}}
{{/contentFor}}

<body class="gray-bg">
    <div class="middle-box text-center loginscreen   animated fadeInDown" id="app">
        <div>
            <h3>注册</h3>
            <form class="m-t" role="form" action="login.html">
                <div class="form-group">
                    <input type="text" v-model.trim="user._id" class="form-control" placeholder="用户名" required="">
                </div>
                <div class="form-group">
                    <input type="password" v-model.trim="user.password" class="form-control" placeholder="密码" required="">
                </div>
                <div class="form-group">
                        <div class="checkbox i-checks"><label> <input v-model="policy" type="checkbox"><i></i> 同意政策和条例 </label></div>
                </div>
                <button type="button" @click="commit" class="btn btn-primary block full-width m-b">注册</button>

                <p class="text-muted text-center"><small>已有账号?</small></p>
                <a class="btn btn-sm btn-white btn-block" href="/user/signin">登录</a>
            </form>
        </div>
    </div>
</body>